<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <title>Unit Converter</title>
</head>

<body>
    <h1>Unit Converter</h1>

    <p>Meu primeiro projeto Flask.</p>
    
    <form>
        <label>Valor:</label><br>
        <input type="number" name="valor">
        <br><br>
        <label>Categoria:</label><br>
        <select name="categoria">
        <option value="comprimento">Comprimento</option>
        <option value="peso">Peso</option>
        <option value="temperatura">Temperatura</option>

    </select>
    </form>

</body>
</html>